body {
    background-attachment: #1e1f24;
    color: #333 ;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    margin: 0;
    padding: 0;

}

#cabecera {
    background: #37488b;
    box-shadow: 0px 2px 20 px 0px rgba(0,0,0,0.5);
    color: white;
    box-shadow: 0px 2px 20px 0px rgb(0,0,0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1em;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;

}

#container h1 {
    background: white;
    font-size: 20px;
}

#post {
    background: white;
    padding: 1em;
}